.button {
  padding: 8px;
  min-height: 40px;
  background: #1890FF;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #1890FF;
  border-radius: 2px;
  &:hover {
    border: 1px solid #40A9FF;
    background: #40A9FF; 
  }
  &:active {
    border: 1px solid #096DD9;
    background: #096DD9;
  }
  &:disabled {
    background: #E8E8E8;
    border: 1px solid #D9D9D9;
    color: #BCBCBC;
  }
}